.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  font-family: sans-serif;
}

.table tr{
  background-color: #3f4652;
}
.row_name{
  width: 300px;
}
.row_share{
  width: 200px;
}
.row_pay{
  width: 280px;
}
.total{
  color:yellow;
}




.chart {
  margin-top: 30px;
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.chart:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.triangle {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 50%;
  transform-origin: center bottom;
  overflow: hidden;
}

.circle {
  height: 100%;
  width: 100%;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  transform-origin: center bottom;

}

